*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-color: radial-gradient(circle,#fcb045,#fd511d);

}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.links{
    display: flex;
    justify-content: center;
    margin-left: 200px;
}

a{
    text-decoration: none;
    color: #555;
    padding: 20px;
    /* margin-left: 70px; */
}
p{
    color: #555;
}
.container{
    max-width: 1518px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    margin-left: 20%;
}

.container{
    background-image: url(./images/cover.jpg);
    /* background-color: blue; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 2500px;
    
}

.col-2{
    margin-top: 90px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: black;
    border: 2px solid black;
    color: white;
    padding: 8px 30px;
    border-radius: 20px;
    transition: all .5s;
}
.btn:hover{
    background: rgba(0,0,0,0.7);
    
}

.layer h3{
    text-align: center;
    
    font-weight: normal;
}

.links img{
    height: 30px;
    width: 30px;
    margin-top: -5px;
    padding-left: 5px;
    cursor: pointer;
}

.row{
    display: flex;
    width: 90%;
    margin: auto;
    
}

.col img{
    width: 40vh;
    height: 40vh;
}

.small-container{
    max-width: 1250px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    padding-top: 55px;
}

.title::after{
    content: '';
    background-color: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%) ;
}

h4{
   color: #555; 
}

.col p{
font-size: 14px;
}

.fa{
    color:#fd523b ;
}

.col-prod img{
    height: 40vh; width: 40vh;
    border-radius: 20px;
    /* border: 5px solid #555; */

}

.links a:hover{
    color: #000;
    font-weight: bold;

}
.links img:hover{
    transform: translateY(-10px);
}

.col-prod{
padding: 5px;

}
.col-prod:hover{
    transform: scale(1.2);
    z-index: 2;
    
}

.lat img{
    border: none;
}

.offer{
    background: radial-gradient(#F2AA4CFF,orangered);
    margin-top: 80px;
    padding: 30px 0;
}

.offero{
    padding: 10px;
}
.test{
    padding-right: 15px;
}

.test{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(253, 82, 59,0.2);
    cursor: pointer;
    transition: transform .5;
    border-radius: 20px;

}
.test img{
    width: 70px;
    margin-top: 15px;
    border-radius: 50%;
    height: 70px;
}

.test:hover{
    transform: translateY(-10px);
}

.testimonial .row{
    
    display: flex;
    width: 90%;
    margin: auto;
    
}

.testimonial .col h3{
    font-size: 16px;
    color: #555;
}

.brands .row{
width: 100%;
}
.brands img{
    width: 150px;
    height: 100px;
}
.footer .row img{
    height: 50px;
    width: 50px;
    
}
.footer .row{
    color: white;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    height: 200px;
    text-align: center;
}

li,.foot p{
    color: #fd523b;
    opacity: .6;
    list-style: none;
}

.stores{
    display: flex;
}

.stores img{
    height: 100px;
    width: 200px;
}
.footer{
    background-color: black;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 3px;
    width: 80%;
    align-self: center;
    margin: auto;
}
.cr{
    text-align: center;
    color: #fd523b;
    opacity: .8;
    margin-top: 10px;
    padding: 10px;
}

.navbar1{
    display: flex;
    justify-content: space-between;
    margin:0 50px;
}

.navbar1 .links{
    margin-top: 15px;
}

.buttons{
    padding: 40px;
    margin-left: 60px;
}
.buttons a{
    border:2px solid #fd523b;
    width: 10px;
    height: 20px;
    transition: .5s;
}
.buttons a:hover{
    background-color:#fd523b;
    opacity: .9;
    color: white;
}

.single .row{
    display: flex;
    justify-content: center;
}
.single select,.single input,.single a{
    margin-top: 20px;
    /* border-color:black; */
    font-weight:600;
}

.single input{
    width: 30px;
}


.single .col{
    padding: 30px;
}

.single .col img{
    padding: 5px;
   
    
    
}
.poses img{
    height: 70px;
    width: 70px;
}
.poses{
    justify-content: center;
}
.single h3{
    color: #555;
    font-weight: bolder;
}
.sol{
    display: flex;
    justify-content: center;
}

/* cart items */

.cart{
    margin: 80px auto;
    width: 80%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
.cart-info img{
    height: 100px;
    width: 100px;
}

th{
    text-align: left;
    padding: 5px;
    color: white;
    background: #ff523b;
    font-weight: normal;
    
}
td{
    padding: 10px 5px;
    line-height: 30px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color:#ff523b ;
    padding-left: 0;
}

.total{
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}

.total table{
    border-top:3px solid #ff523b ;
    width: 30%;
    margin-left: 55%;
    
}

.accounts{
    padding: 50px 0;

}
.container2{
   background-image: url(./images/cover.jpg);
    /* background-color: blue; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 1519px;
    
}
.container2 .links{
    margin-right: 40%;
}

.accounts{
    padding: 50px 0;

}
.forms{
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);
    overflow: hidden;

}
 .forms span{
    font-weight: bold;
    padding: 0 10px;
    color: #000;
    cursor: pointer;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

/* .accounts input{
    padding: 4px;
    margin-top: 20px;
    width: 80%;
    border-color: #000;
}  */

.forms form{
max-width: 300px;
padding: 0 20px;
position: absolute;
top: 110px;
transition: transform 1s;
}

form input{
    width: 100%;
    height:30px ;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid black;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus{
    outline: none;
}

#login-form{
left: -300px;
}

#reg-form{
left: 0;
}

#indicator{
    width: 50px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(80px);
    transition: transform 1s;
    
}

.container3{
    height: 70vh;
    background: url(./images/woman-shopping-bags-copy-space.jpg);
    /* background-position: center; */
    background-size: cover;
}

.container3 .links a{
    color: white;
}
.con{
    display: flex;
    justify-content: flex-end;
    margin-right: 25%;
    margin-top: 4%;
    font-size: 2rem;
    
}

.exp li{
    list-style-type: decimal;
    color: #555;
}

.location iframe{
    width: 80%;
    margin-left: 10%;
}

.contact-col input,.contact-col textarea{
 width: 80%;
 margin-top: 20px;
 border-color: #000;
 border: 2px solid black;
}

.b{
    padding: 10px;
    border-radius: 20px;
    background-color: #ff523b;
    margin-top: 20px;
    border-color: transparent;
}



